
<!-- IMPORTAÇÃO DO PARTIAL HEADER -->
<%- include('partes/header.ejs') %>
<body>
    
    <!-- <h1>TESTE FRONTEND EJS</h1> -->
    <div class="container">
        <%- include('partes/menu.ejs') %>
    </div>

</body>
<!-- IMPORTAÇÃO DO PARTIAL FOOTER -->
<%- include('partes/footer.ejs') %>